body{
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: Ivory;
}
h1{
  font-family: 'Oswald', sans-serif;
}

img{
  float: left;
  margin: 10px;
}
#navbar ul{
  list-style-type: none;
  margin: 0px;
  padding: 0;
}
#navbar li{
display: inline;
}

#navbar a {
  margin-right: 75px;
  margin-left: 75px;
}
}
.left{
  float: left;
  margin-right: 10px;
  width: 300px;
  padding: 1em;
}

.right{
  float: right;
  margin-left: 10px;
  width: 300px;
  padding: 1em;
}

.center{
  margin-left: 300px;
  margin-right: 10px;
  padding: 1em;
}